@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete Role";
}
<div class="box">
    <h2 class="text-center">Are you sure you want to delete the Role: @Html.DisplayFor(model => model.Name)? </h2>

    <p class="text-center">Deleting this Role will remove all users from this role. It will not delete the users.</p>
    <div>
        
        <hr />
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                
            </dd>
        </dl>*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Role" class="btn btn-danger" /> |
                @Html.ActionLink("Back to Roles", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>