
@{
    ViewBag.Title = "Confirmation";
}

<div class="box">
    
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <p class="text-center">
        We will be in touch soon @Model.Name, have a great day!
    </p>

</div>