@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="box">

            <div class="col-lg-12 col-md-12 col-sm-12 text-center">

                <div class="carousel slide fadeInAmate">

                    <img class="img-responsive img-full" src="~/Content/img/Logo.png" alt="">

                </div>
                <hr class="tagline-divider">
                <h1 class="brand-name">Brand Your Design</h1>
                <h2 class="brand-before"></h2>

                <div class="clear"></div>



            </div>

        </div>
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Brand Your
                    <strong>Own Design</strong>
                </h2>
                <hr>
                
                <hr class="visible-xs">
                <p>
                    <strong>Represent Printing</strong> is a screen printing company based out of Kansas City, MO.  We specialize in multicolored silk-screen
                    printing, as well as embroidery.  We can printing on any type of apperal, so feel free to view our porfolio and <strong>Brand Your Design</strong>.
                    Feel free to <a href="@Url.Action("Contact","Home")">Contact</a> us.
                </p>
            </div>
        </div>
    </div>



    @*<div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>*@
</div>

<!-- /.container -->