
@{
    ViewBag.Title = "Portfolio";
}

@*<h2>Portfolio</h2>*@
<div class="container box">
    <div class="row">

        @*<div class="col-lg-12 text-center">
            <h1 id="fadeTextSlow" class="page-header">Some Of Our Latest Prints</h1>
        </div>*@
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/DeadGooseSociety.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/DeadGooseSociety.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/PoolService.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/PoolService.jpg" alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/SeeItThrooughBack.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/SeeItThrooughBack.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/SeeItThroughFront.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/SeeItThroughFront.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/ShirtEarcare.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/ShirtEarcare.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/ShirtNos.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/ShirtNos.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/XEdge.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/XEdge.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/Bird.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/Bird.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="~/Content/img/portfolio/NebraskaBricks.jpg" target="_blank" data-featherlight="image">
                <img id="imageFit" class="img-responsive" src="~/Content/img/portfolio/NebraskaBricks.jpg" alt="">
            </a>
        </div>
       
    </div>
</div>