
@{
    ViewBag.Title = "Employee and Order Records";
}
<div class="box">
    <h2 class="text-center headingHeader">Employee and Order Records</h2>
    <ul>
        <li><a href="@Url.Action("Index","TSTEmployees")">Employees</a></li>
        <li><a href="@Url.Action("Index","Departments")">Departments</a></li>
        <li><a href="@Url.Action("Index","TSTOrders")">Orders</a></li>
        
    </ul>
</div>